<button id="btn-upclick" class="btn btn-primary btn-lg">
    <i id="gi-upclick" class="glyphicon glyphicon-chevron-up"></i>
</button>

<p><strong><%= @count %></strong> clicks have already been upped!</p>
<h3><i>Please share and upclick!</i></h3>

