<button id="btn-upclick" class="btn btn-primary btn-lg">
    <i id="gi-upclick" class="glyphicon glyphicon-chevron-up"></i>
</button>

<p><strong><span id="span-total-clicks"><%= @total_click_count %></span></strong> clicks have already been upped!</p>

<% if user_signed_in? %>
    <p><strong><span id="span-user-clicks"><%= @user_click_count %></span></strong> were you!</p>
<% end %>

<div id="div-level-up">
</div>

