<%= link_to click_path, :method => :put, class: "btn btn-primary btn-lg" do %>
    <i class="glyphicon glyphicon-chevron-up"></i>
<% end %>

<p><strong><%= @count %></strong> clicks have already been upped!</p>
<h3><i>Please share and upclick!</i></h3>

