<h2>
  <%= level.name %>
</h2>

<p>
  <i>
    <% if user_signed_in? -%>
        <% if level.number_of_clicks > current_user.clicks.count -%>
            <%= level.number_of_clicks - current_user.clicks.count %> upclicks remaining to reach this level.
        <% else -%>
            You have already achieved this level.
        <% end -%>   
    </ul>
    <% else -%>
        <%= level.number_of_clicks %> upclicks to reach this level.
    <% end -%>
  </i>
</p>

<%= image_tag level.image_name %>