<h4> 
	<tr>
		<td><%= rank%>. </td>
		<% unless gamer.level_id.nil? %>
  			<td><%= image_tag gamer.level.image_name, size: "50x50" %></td>
  		<% end %>
  		<td><%= gamer.gamer_tag %></td>
  		<td>(<%= gamer.clicks.count%>)</td>
	</tr>
</h4>
